<!-- Header and Nav -->
          <nav class="top-bar">
            <ul class="title-area">
              <!-- Title Area -->
              <li class="name">
                <h3>ADMIN</h3>
              </li>
              <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>
         
            <section class="top-bar-section">
              <!-- Left Nav Section -->
              <ul class="left">
                <li class="divider"></li>
                <li><a href="/admin/">ADMIN HOME</a></li>
                <li class="has-dropdown">
                  <a href="#">CREATE</a>
                  <ul class="dropdown">
                    <li><a href="/admin/game">Add Game</a></li>
                    <li><a href="/admin/event">Create Event</a></li>
                  </ul>
                </li>
              </ul>
             </section>

           </div>
           </div>
          </nav>
      <!-- End of Nav Section-->