<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

  <head>
     <meta charset="utf-8">
      <title>Video Games Trailers, Previews, News and Videos Your Video games starting page - <%= title %></title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="keywords" content="WeArePlaying, videogames, video games, gaming, xbox one, xbox 360, ps4, ps3, iPhone, trailers, previews, announcements, breaking gaming news, hottest video games, best video games, newest video games, indie games, kickstarter games, AAA games, awesome games">
      <meta name="keywords" content="WeArePlaying, videogames, video games, gaming, xbox one, xbox 360, ps4, ps3, iPhone, trailers, previews, announcements, breaking gaming news ">
      <meta name="robots" content="index, follow">
      <link rel="publisher" href="https://plus.google.com/106749096796237814979">

    <link href="/stylesheets/foundation.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/icon.ico" />
    <link href='http://fonts.googleapis.com/css?family=Dosis:400,500,600' rel='stylesheet' type='text/css'>

    <script src="/js/vendor/custom.modernizr.js"></script>

    <!-- Popup script 
    <script>
      $(document).ready(function() {
        $('#windowTitleDialog').bind('show', function () {
          document.getElementById ("xlInput").value = document.title;
          });
        });
      function closeDialog () {
        $('#windowTitleDialog').modal('hide'); 
        };
      function okClicked () {
        document.title = document.getElementById ("xlInput").value;
        closeDialog ();
        };
      </script> -->

     
  </head>
  <body style="display:none;" onunload="">
   <div class="row" style="width: 55%;">
    <div class="large-12 columns">
      <!-- Header and Nav -->

      <!-- End of Nav Section-->

    <!-- Page / ranking special -->
  


    <!-- Content sectiong -->



    <div style="text-align:center;">
       <div class="row missionStatement" style="padding-top:40px;">
        <h2 style="padding: 0; margin:0; color: white;">Discover the next classic game</h2>
        <h5 style="padding: 0; margin:0; color: white;"><%= rankingTitle %></h5>
        <div style="padding-top: 40px;">
        <form data-abide name="queueSignup" action="/forms/queue" method="post">
               <% if (submitted == 'False') { %><div class="large-9 columns" style="text-align:left; color: white;">
               
               <input type="email" placeholder="Enter your email to get notified when WeArePlayingIt goes live" required name="email">
              </div>
              <div class="large-3 columns" style="text-align:left; color: white;">
               
                <button type="submit">Submit</button>
              </div>
             
             <% } %> 
            </form>
            <a href="https://twitter.com/weareplayingit" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @weareplayingit</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<a href="https://plus.google.com/106749096796237814979" rel="publisher">Google+</a>
            </div>
      </div>
      
    </div>

    </div>
    </div>

    


    <!-- end of the team -->

<!-- footer are -->

  <!-- end of footer area -->

    

    <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '/js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="/js/foundation.min.js"></script>
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  <script src="js/foundation/foundation.interchange.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-51351-11', 'weareplaying.it');
    ga('send', 'pageview');

  </script>

  
  
  <script>
    $(document).foundation();
  </script>

  <!-- fade out scripts that acts on all rel="fade" -->
   <script src="/js/fadescript.js"></script>

   <style media="screen" type="text/css">
      body {
        /*display:none;*/
  

        background: url(/images/wii.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

      }
    </style>

  </body>
</html>
