
.icon-down-big:before { content: '\e800'; } /* '' */
.icon-up-big:before { content: '\e801'; } /* '' */
.icon-ellipsis:before { content: '\e802'; } /* '' */
.icon-twitter-bird:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\e804'; } /* '' */